*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
a{
    list-style: none;
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold black solid;
    
}
a:hover{
 color: aqua;
 transition: all 0.9s;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./images/home_bg.jpeg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

nav{
    width: 80%;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: space-between;
}

nav img{
    width: 100px;
    height: 100px;
}

nav ul {
    display: flex ;
    list-style: none;
    justify-content: space-between;
    gap: 10px;
}

button{
    border: 2px solid goldenrod;
    border-radius: 10px;
    padding: 10px;
    background: none;
    margin: top;
    color: white;
    cursor: pointer;
    
}

.btn2:hover{
    background-color: rgb(186, 162, 26);
    transition: ease-in-out 500ms;
}

span{
    color: goldenrod;
}

.contact{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
    gap: 10px;
}

.history{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 5px;
}

.all{
    display: flex;
    gap: 30%;
    margin: 20px;
    margin-top: 10px;
}

.about{
    display: flex;
    padding: 20px;
    margin: 20px;
}

.btn1{
    padding: 10px;
    margin: 10px;
    gap: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.343);
    border-radius: 10px;
    display: block;
    width: fit-content;
    margin-top: 20px;
    cursor: pointer;
}

.offers{
    background-image: url(./images/offer-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px;
    margin: 10px;
    color: white;
}

.title1{
    text-align: center;
    padding: 5px 30px;
    margin: 10px;
    text-transform: uppercase;
}


.cards{
    display: flex;
    align-items:center ;
    justify-content: space-around;
    text-align: center;
}

.cards img{
    width: 60%;
    height: 50%;
    padding: 10px;
}

span{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
del{
    padding: 10px;
    font-size: 15px;
}

.menu-h1{
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    align-items: center;
   
}
.menu-h1 h1{
    border-bottom:solid 2px goldenrod  ;
    padding: 10px;
}
.menu-h1 p{
    padding: 10px;
}
.food-item{
    display: flex;
    justify-content: space-around;
    width: 40%;
    padding: 10px;
}
.food-price{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.food-a{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.foood{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

/* .menu{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.bntmenu12 button{
    background-color: orange;
    color: black;
    text-transform: capitalize;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 5px;
}
.bntmenu12 button:hover{
    transform: scale(1.2);
    transition: ease-in-out 200ms;

}
.bntmenu12{
    text-align: center;
    padding: 10px;
}

.timefood{
background-image: url(./images/daytime_bg.jpeg);
background-repeat: no-repeat;
background-size: cover;
text-align: center;
}

.date{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}

.galleryfood{
    background-image: url(./images/offer-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 630px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
    color: white;
    padding: 100px 0 0 0;
}

.gallery img{
    width: 25%;
    height: 200px;
    padding: 10px;
    border-radius: 30px;
    opacity: 0.5;
    cursor: pointer;
}

.gallery img:hover{
    opacity: 1;
    transform: scale(1.07);
    transition: ease-in-out 200ms;
}
.Contatct_us{
    display: flex;
    justify-content: space-between;
    margin: 60px 0;
    padding: 30px;
}
.contactRight{
    width: 60%;
    padding: 40px;
    padding-left: 270px;

}
.contactRight input ,
.contactRight textarea
{
    margin: 10px;
    width: 90%;
    padding: 10px;
 color: black;
}
.contactRight button{
color: black;
margin-left: 30px;
width: 20%;
background-color: rgb(145, 145, 22);
border: 3px black;
}
.contactRight button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold black solid;
    transition: all 2s;
    width: 170px;
}
.follow a{
    color: black;
    flex-direction: column;
}
.contactleft div a
,
.contactleft div p{
padding-top: 20px;

}
.contactleft h1{
    color: rgb(236, 177, 12);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold black solid;
}
footer{
    background-color: rgb(16, 16, 65);
    height: 60px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    align-items: center;
}
footer h4{
    padding-top: 14px;
}